Repository voxpupuli/puppet-quadlets, pull requests merged in 2024-08, with the labels that each got.

#9 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#5 Add Kube type quadlet support
  REFERENCE.md
  manifests/quadlet.pp
  spec/acceptance/kube_spec.rb
  spec/type_aliases/quadlet_name_spec.rb
  spec/type_aliases/unit_kube_spec.rb
  templates/quadlet_file.epp
  types/quadlet_name.pp
  types/unit/kube.pp
Labels: enhancement

#8 Remove junk files and content
  README.md
  spec_helper_acceptance.rb
Labels: skip-changelog
