Repository voxpupuli/puppet-quadlets, pull requests merged in 2024-09, with the labels that each got.

#10 add metadata.json tags
  metadata.json
Labels: enhancement

#11 release 1.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#12 allow container_entry.{User,Group} to be String or Integer
  REFERENCE.md
  types/unit/container.pp
Labels: bug

#14 Release 1.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#16 modulesync 9.3.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#17 add purge_quadlet_dir param
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/quadlet.pp
  spec/classes/init_spec.rb
Labels: enhancement
